flask
gevent
pandas
seaborn
opencv-python
pillow
huggingface_hub
text_generation
transformers
sentence-transformers
faiss-cpu
accelerate
pdfminer.six
docx2txt
paddleocr
paddlepaddle
llama-cpp-python
gradio
llama-cpp-haystack
groq



#python -m pip install paddlepaddle -i https://pypi.tuna.tsinghua.edu.cn/simple
